# AStyle original file backup #
###############################
*.orig

# Windows Executables         #
###############################
*.exe
*.dll

# Compressed Files            #
###############################
*.tar.gz
*.tar.bz2
*.zip

# Android local properties    #
###############################
local.properties

#External library directories #
###############################
zlib-*
freetype-*
libpng-*
libxml2-*
gmock-*
AStyle

# Possible build directories   #
###############################
x64
x32
codeblocks
msvc64
msvc32
mingw32
mingw64
