# AStyle original file backup #
###############################
*.orig

# Windows Executables         #
###############################
*.exe
*.dll

# Compressed Files            #
###############################
*.tar.gz
*.tar.bz2
*.zip
